{
    "plugins": [
        [
            "istanbul",
            {
                "include": [
                    "**/calc.js"
                ],
                "exclude": [
                    "**/*.spec.js"
                ]
            }
        ]
    ]
}